/** Desafio 1 */
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family:  Georgia, Times, 'Times New Roman', serif;
 
}
body.capa {
    background-image: url(img2/solo.capa.jpg) !important;
    background-size: cover;
    background-position: center center;
}

section#capitulo-1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    height: 100%;
}
section#capitulo-1 h1 {
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 18px;
}

section#capitulo-1 h2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-top: 20px;
}
section#capitulo-1 button {
    padding: 10px 25px;
    background: black;
    color: blanchedalmond;
    border: none;
    margin-top: 50px;
    font-size: 18px;  
}
/** Desafio 2*/
.container{
    margin: 0 auto!important;
    max-width: 1117px;
}
section#desafio-2 {
    padding: 20px 0;
    color: blanchedalmond;
    text-align: center;
}
section#desafio-2 h1{
    font-size: 46px;
    margin: 15px 0;
}
/** Desafio 3 */

section#desafio-3 {
    padding: 20px 0;
}
section#desafio-3 h1{
    text-align: center;
    font-size: 48px;
}
section#desafio-3 .item{
    padding: 15px;
    background: rgba(63, 150, 131, 0.11);
    margin: 15px;
    transition: all linear 0.3s;
}
section#desafio-3 .item:hover{
    background: rgb(179, 45, 4);
}
section#desafio-3 .item img{
 width: 150px;
}
section#desafio-3 .item h5{
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}
section#desafio-3 .item p{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
}

